body {
  margin: 0;
}

.wrapper {
  background-color: rgb(255, 161, 161);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.nav {
  padding: 12px;
  display: flex;
  align-items: center;
}

.nav .logo {
  width: 50px;
}

.nav .items{
    margin-left: auto;
}


.nav .items a{
    padding: 25px;
    text-decoration: none;
    color: #000;
}

.nav .items a:hover{
    color: rgb(80, 80, 80);
}

.middle {
  flex-grow: 1;
  background-color: green;
  display: flex;
}

.middle .sidebar{
    /* background-color: blue; */
    flex-grow: 1;
}


.middle .sidebar ul{
    /* background-color: blue; */
    flex-grow: 1;
    list-style-type: none;
}

.middle .sidebar ul li{
    margin: 10px auto;
}


.middle .main{
    background-color: yellow;
    flex-grow: 5;
    display: flex;
    flex-direction: column;
}

.middle .top{
    display: flex;
    justify-content: center;
}
.middle .main .top img{
    height: 200px;
    margin-top: 20px;
}

.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom h1{
    text-align: center;
    
}
.bottom .cards{
    display: flex;
    justify-content: center;
}

.card{
    width: 200px;
    margin: 10px;
    text-align: center;
}

.card img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.foot {
}
